REMNAWAVE_PANEL_URL=https://panel.example.com
REMNAWAVE_TOKEN=your_remnawave_api_token
BUY_LINK=https://t.me/legiz_trashbag
META_TITLE=SubPage
META_DESCRIPTION=MySubPage
AUTH_API_KEY=your_optional_caddy_or_nginx_api_key