REMNAWAVE_PANEL_URL=https://panel.example.com
REMNAWAVE_TOKEN=your_remnawave_api_token
TELEGRAM_BOT_TOKEN=
SESSION_SECRET=long_random_string_for_session_secret
BUY_LINK=https://t.me/legiz_trashbag
META_TITLE=SubPage
META_DESCRIPTION=MySubPage
AUTH_API_KEY=your_optional_caddy_or_nginx_api_key
CUSTOM_SUB_PREFIX=your_optional_sub
