<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= metaTitle %></title>
    <meta name="description" content="<%= metaDescription %>">
    <script>
        // Данные о подписке будут здесь в формате Base64
        const panelData = "<%= panelData %>";
        // Вы можете декодировать их и использовать в вашем JS-коде
        // const decodedData = JSON.parse(atob(panelData));
        // console.log(decodedData);
    </script>
</head>
<body>
    <h1>Ваши подписки</h1>
    </body>
</html>